{% extends "base.html" %}
{% block title %}Cards{% endblock %}
{% block content%}
    <h1>Flash Card</h1>
    Question: {{ card.question }} <br>
    Answer:   {{ card.answer }}
    <p>
        <a href="{{ url_for('welcome') }}">Home Page</a>

        <button>
            {% if index > 0 %}
            <a href= "{{ url_for('card_view', index=index - 1) }}" >
                Previous card
            </a>
            {% else %}
            <a href= "{{ url_for('card_view', index=max_index) }}" >
                Next card
            </a>
            {% endif %}
        </button>

        <button>
            {% if index < max_index %}
            <a href= "{{ url_for('card_view', index=index + 1) }}" >
                Next card
            </a>
            {% else %}
            <a href= "{{ url_for('card_view', index=0) }}" >
                Next card
            </a>
            {% endif %}
        </button>
    </p>
{% endblock %}
